<div class="shell">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="wsk-cp-product">
          <div class="wsk-cp-img">
            <button type="button" class="btn">
              <img
                src="../assets/images/1.jpg"
                alt="Product"
                class="img-responsive"
              />
            </button>
          </div>
          <div class="wsk-cp-text">
            <div class="title-product">
              <h3>Lorem ipsum</h3>
            </div>
            <div class="description-prod">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
            </div>
            <div class="card-footer">
              <div class="wcf-left">
                <div class="category">
                  <span> Lorem</span>
                </div>
              </div>
              <div class="wcf-right">
                <a href="#" class="buy-btn">
                  <i class="zmdi zmdi-shopping-basket"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="wsk-cp-product">
          <div class="wsk-cp-img">
            <img
              src="../assets/images/harry.jpg"
              alt="Product"
              class="img-responsive"
            />
          </div>
          <div class="wsk-cp-text">
            <div class="title-product">
              <h3>Lorem, ipsum.</h3>
            </div>
            <div class="description-prod">
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="card-footer">
              <div class="wcf-left">
                <div class="category">
                  <span>Lorem</span>
                </div>
              </div>
              <div class="wcf-right">
                <a href="#" class="buy-btn"
                  ><i class="zmdi zmdi-shopping-basket"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="wsk-cp-product">
          <div class="wsk-cp-img">
            <img
              src="../assets/images/download.jpg"
              alt="Product"
              class="img-responsive"
            />
          </div>
          <div class="wsk-cp-text">
            <div class="title-product">
              <h3>Lorem, ipsum.</h3>
            </div>
            <div class="description-prod">
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="card-footer">
              <div class="wcf-left">
                <div class="category">
                  <span>Lorem</span>
                </div>
              </div>
              <div class="wcf-right">
                <a href="#" class="buy-btn"
                  ><i class="zmdi zmdi-shopping-basket"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="wsk-cp-product">
          <div class="wsk-cp-img">
            <img
              src="../assets/images/2.jpg"
              alt="Product"
              class="img-responsive"
            />
          </div>
          <div class="wsk-cp-text">
            <div class="title-product">
              <h3>Lorem, ipsum.</h3>
            </div>
            <div class="description-prod">
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="card-footer">
              <div class="wcf-left">
                <div class="category">
                  <span>Lorem</span>
                </div>
              </div>
              <div class="wcf-right">
                <a href="#" class="buy-btn">
                  <i class="zmdi zmdi-shopping-basket"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="wsk-cp-product">
          <div class="wsk-cp-img">
            <img
              src="../assets/images/download.jpg"
              alt="Product"
              class="img-responsive"
            />
          </div>
          <div class="wsk-cp-text">
            <div class="title-product">
              <h3>Lorem, ipsum.</h3>
            </div>
            <div class="description-prod">
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="card-footer">
              <div class="wcf-left">
                <div class="category">
                  <span>Lorem</span>
                </div>
              </div>
              <div class="wcf-right">
                <a href="#" class="buy-btn"
                  ><i class="zmdi zmdi-shopping-basket"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="wsk-cp-product">
          <div class="wsk-cp-img">
            <img
              src="../assets/images/1.jpg"
              alt="Product"
              class="img-responsive"
            />
          </div>
          <div class="wsk-cp-text">
            <div class="title-product">
              <h3>Lorem, ipsum.</h3>
            </div>
            <div class="description-prod">
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="card-footer">
              <div class="wcf-left">
                <div class="category">
                  <span>Lorem </span>
                </div>
              </div>
              <div class="wcf-right">
                <a href="#" class="buy-btn"
                  ><i class="zmdi zmdi-shopping-basket"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="wsk-cp-product">
          <div class="wsk-cp-img">
            <img
              src="../assets/images/2.jpg"
              alt="Product"
              class="img-responsive"
            />
          </div>
          <div class="wsk-cp-text">
            <div class="title-product">
              <h3>Lorem, ipsum.</h3>
            </div>
            <div class="description-prod">
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="card-footer">
              <div class="wcf-left">
                <div class="category">
                  <span>Lorem</span>
                </div>
              </div>
              <div class="wcf-right">
                <a href="#" class="buy-btn"
                  ><i class="zmdi zmdi-shopping-basket"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="wsk-cp-product">
          <div class="wsk-cp-img">
            <img
              src="../assets/images/harry.jpg"
              alt="Product"
              class="img-responsive"
            />
          </div>
          <div class="wsk-cp-text">
            <div class="title-product">
              <h3>Lorem, ipsum.</h3>
            </div>
            <div class="description-prod">
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="card-footer">
              <div class="wcf-left">
                <div class="category">
                  <span>Lorem</span>
                </div>
              </div>
              <div class="wcf-right">
                <a href="#" class="buy-btn"
                  ><i class="zmdi zmdi-shopping-basket"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
