<div class="wrapper">
  <div class="shell">
    <div class="container">
      <div class="Favourites">
        <h1>Favourites</h1>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img">
              <button type="button" class="btn">
                <a
                  href="https://bookchor.com/book/9780241374597/olive-again-olive-kitteridge-2"
                >
                  <img
                    src="../assets/images/1.jpg"
                    alt="Product"
                    class="img-responsive"
                  />
                </a>
              </button>
            </div>
            <div class="wsk-cp-text">
              <div class="title-product">
                <h3>Elizabeth Strout</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img">
              <a
                href="https://bookchor.com/book/9780747538486/harry-potter-and-the-chamber-of-secrets"
              >
                <img
                  src="../assets/images/harry.jpg"
                  alt="Product"
                  class="img-responsive"
              /></a>
            </div>
            <div class="wsk-cp-text">
              <div class="title-product">
                <h3>J.K. Rowling</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img">
              <a
                href="https://www.bookchor.com/book/9788189534189/you-are-unique?gclid=CjwKCAjwyryUBhBSEiwAGN5OCCIgwxNeyXVtxurlaqSQYt95OUPsuSi4jNOmDY-swiT2S91pcRLvDhoC_SAQAvD_BwE"
              >
                <img
                  src="../assets/images/download.jpg"
                  alt="Product"
                  class="img-responsive"
              /></a>
            </div>
            <div class="wsk-cp-text">
              <div class="title-product">
                <h3>APJ Abdul Kalam</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img">
              <a href="https://bookchor.com/book/9780099283294/red-dust">
                <img
                  src="../assets/images/2.jpg"
                  alt="Product"
                  class="img-responsive"
                />
              </a>
            </div>
            <div class="wsk-cp-text">
              <div class="title-product">
                <h3>Ma Jian</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img">
              <a
                href="https://www.bookchor.com/book/9788189534189/you-are-unique?gclid=CjwKCAjwyryUBhBSEiwAGN5OCCIgwxNeyXVtxurlaqSQYt95OUPsuSi4jNOmDY-swiT2S91pcRLvDhoC_SAQAvD_BwE"
              >
                <img
                  src="../assets/images/download.jpg"
                  alt="Product"
                  class="img-responsive"
              /></a>
            </div>
            <div class="wsk-cp-text">
              <div class="title-product">
                <h3>APJ Abdul Kalam</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img">
              <a
                href="https://bookchor.com/book/9780241374597/olive-again-olive-kitteridge-2"
              >
                <img
                  src="../assets/images/1.jpg"
                  alt="Product"
                  class="img-responsive"
              /></a>
            </div>
            <div class="wsk-cp-text">
              <div class="title-product">
                <h3>Elizabeth Strout</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img">
              <img
                src="../assets/images/2.jpg"
                alt="Product"
                class="img-responsive"
              />
            </div>
            <div class="wsk-cp-text">
              <div class="title-product">
                <h3>Ma Jian</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="wsk-cp-product">
            <div class="wsk-cp-img">
              <a
                href="https://bookchor.com/book/9780241374597/olive-again-olive-kitteridge-2"
              >
                <img
                  src="../assets/images/harry.jpg"
                  alt="Product"
                  class="img-responsive"
                />
              </a>
            </div>
            <div class="wsk-cp-text">
              <div class="title-product">
                <h3>J.K. Rowling</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
